@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
    background-color: #93DADF;
	overflow-y: hidden;
    overflow-x: scroll;
    min-width: 500px;
    font-family: 'Noto Sans', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
}

html {
	overflow: hidden;
}

td {
    padding: 5px;
}

.desc-cell {
    width: 400px;
}

.dollar-cell {
    padding: 0px !important;
    text-align: right;
}

input[name="item_name"] {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1em;
    font-weight: normal;
}

input[name="amount"] {
    background-color: #EE3B48;
    width: 50px;
    margin: auto 5px;
    line-height: 30px;
    font-size: 1em;
    border: none;
}

select {
    background-color: transparent;
    font-size: 1em;
}